// Idea copied from wxWidgets project (samples/samples.rc) by Vadim Zeitlin
// Purpose:     a standard Win32 .rc file for the wxWindows samples
// Licence:     wxWindows licence

// note that the icon used by the Explorer (i.e. the programs icon) is the
// first icon in the executable and the icons are sorted both by their order
// (Win9x) and by alphabetically (!) (NT), so put this icon first and give it
// a name starting with "a"
aaaaaaaa ICON "app_icon.ico"

app_icon ICON "app_icon.ico"
